# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.4'
        cache: true

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: internal/python/py/requirements-dev.txt

    - name: Ensure scripts are executable
      if: runner.os != 'Windows'
      run: chmod +x scripts/*.sh

    - name: Build
      run: ./scripts/build.sh
      shell: bash

    - name: Test
      run: ./scripts/test.sh
      shell: bash
